@model IEnumerable<JC_AjudaMutuaSLZ.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />

<table class="table table-hover">
<thead>
<tr>
		<th>
			@Html.DisplayNameFor(model => model.idCliente)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Login)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Telefone)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SKYPE)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Senha)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Banco)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TipoConta)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Agencia)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Conta)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Operacao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Patrocinador)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataCadastro)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.idCliente)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Nome)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Email)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Login)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Telefone)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.SKYPE)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Senha)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Banco)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TipoConta)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Agencia)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Conta)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Operacao)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Patrocinador)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DataCadastro)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Status)
		</td>
		<td>
			<div class="btn-group">
				@Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class="btn glyphicon glyphicon-edit", @Title="Editar" }) 
				@Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }, new { @class="btn glyphicon glyphicon-eye-open", @Title="Detalhes" }) 
				@Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ }, new { @class="btn glyphicon glyphicon-trash", @Title="Excluir" })
			</div>
		</td>
	</tr>
}
</tbody>
</table>
<div class="form-group">
	@Html.ActionLink("Cadastrar","Create", null, new { @class="btn btn-success", @Title="Cadastrar"})
	@Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-danger", @title = "Tela Inicial" })
</div>
